body {
	background: rgb(65,158,200);
	color: #fff;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 1.3em;
}

h1 {
	margin: 10px 0 5px 0;
	font-size: 2.5em;
	font-weight: lighter;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

a {
	color: #ccc;
	font-size: .75em;
	text-decoration: none;
}

a:hover {
	color: #eaeaea;
}

#logoHeader {
	width: 144px;
}

#loginContainer {
	padding-top: 80px;
}

.loginInput {
	margin: 2px auto 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	padding: 0.25em;
	display: block;
	border: 0;
	width: 11.5em;
}

.smallText {
	font-size: .7em;
}

#loginSubmit {
	background-color: rgb(192, 192, 192);
	background-image: none;
	margin: 5px auto 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	padding: 0.25em;
	display: block;
	border: 0;
	width: 12em;
}

#loginSubmit:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

#bottomLinkContainer {
	padding-top: 5px;
}
