body {
	background: url(img/bg.jpg) 0px 0px no-repeat fixed;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 1.3em;
}

#topbar {
	position: fixed;
	top: 0px;
	right: 0;
	width: 100%;
	height: 30px;
	background: rgba(33,33,33,0.5);
	z-index: 9999;
	padding-top: 5px;
	padding-bottom: 5px;
}

#middle {
	display: inline-block;
	width: auto;
	background: rgba(65,158,200,0.6);
	margin-top: 100px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

h1 {
	margin: 10px 0 5px 0;
	font-size: 2.5em;
	font-weight: lighter;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

a {
	color: #ccc;
	font-size: .75em;
	text-decoration: none;
}

a:hover {
	color: #eaeaea;
}

#logoHeader {
	width: 144px;
}

#loginContainer {
	padding-top: 40px;
}

.loginInput {
	margin: 2px auto 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	padding: 0.25em;
	display: block;
	border: 0;
	width: 11.5em;
}

.smallText {
	font-size: .7em;
}

#loginSubmit {
	background-color: rgb(192, 192, 192);
	background-image: none;
	margin: 5px auto 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 1em;
	padding: 0.25em;
	display: block;
	border: 0;
	width: 12em;
}

#loginSubmit:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

#bottomLinkContainer {
	padding-top: 5px;
}
