body {
	background: url(img/bg.jpg) 0px 0px no-repeat fixed;
	background-size: 100% auto;
	text-align: center;
}

#topbar {
	position: fixed;
	top: 0px;
	right: 0;
	width: 100%;
	height: 30px;
	background: rgba(33,33,33,0.5);
	z-index: 9999;
	padding-top: 5px;
	padding-bottom: 5px;
}
#middle {
	display: inline-block;
	width: auto;
	min-width: 80%;
	max-width: 100%;
	background: rgba(65,158,200,0.6);
	margin-top: 150px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
}
@media screen and (max-height: 550px) {
	#middle {
		margin-top: 100px;
	}
}
.big {
	font-size: 330%;
}

.small {
	font-size: 170%;
}

#bottom {
	width: 75%;
	height: 100px;
	background: rgba(33,33,33,0.5);
	position: absolute;
	bottom: 0px;
	margin-right: 12.5%;
	margin-left: 12.5%;
}

#ad {
	width: 728px;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
	display: block;
}
@media screen and (max-height: 626px) {
	#ad {
		margin-top: 50px; /* Shrink the ad margins on small resolutions to fit it */
	}
}
@media screen and (max-height: 580px) {
	#ad {
		display: none !important; /* Hide the ad when the screen resolution is too small to fit it */
	}
}

.tab {
	width: 33%;
	height: 100%;
	font-family: sans-serif;
	display: inline-block;
	cursor: pointer;
}

.social {
	margin-right: 12px;
}
.social:last-of-type {
	margin-right: 0px;
}

.tab b {
	font-size: 140%;
	margin: 10px;
	color: #ffffff;
}

a {
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
}

a > img {
	border: 0;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, sans-serif !important;
}

ul {
	text-align: left;
	font-family: Arial, sans-serif !important;
}