/* Sansa Soft font for use on Brickimedia */
@font-face {
	font-family: Sansa Soft;
	font-style: normal;
	font-weight: normal;
	src: url(http://www.brickimedia.org/resources/fonts/sansasoft/sansasoft-normal.ttf),
		 url(http://www.brickimedia.org/resources/fonts/sansasoft/sansasoft-normal.eot);
}
@font-face {
	font-family: Sansa Soft;
	font-style: normal;
	font-weight: bold;
	src: url(http://www.brickimedia.org/resources/fonts/sansasoft/sansasoft-bold.ttf),
		 url(http://www.brickimedia.org/resources/fonts/sansasoft/sansasoft-bold.eot;
}