#phalanx-input-filter .blue {
	margin: 4px 0px 4px 4px;
}

#phalanx-feedback-msg .error {
	color: red;
}

#phalanx-feedback-msg {
	color: green;
}

#phalanx-block-texts .left,
#phalanx-input-filter .left-spacer,
#phalanx-block-optionals .left {
	display: block;
	float: left;
	font-weight: bold;
	margin: 6px;
	text-align: right;
}

#phalanx-input-filter .left-spacer {
	clear: both;
}

#phalanx-mainframe .clear {
	clear: both;
}

#phalanx-help {
	font-size: 0.9em;
	margin-left: 400px;
	position: relative;
}

#phalanx-help div {
	position: absolute;
	display: none;
	padding: 5px;
}

#phalanx-check-area {
	clear: both;
}

#wpPhalanxSubmit {
	margin: 6px 0 0 6px;
}

#phalanx-block-types {
	float: left;
}

.phalanx-block-types label {
	display: inline-block;
	margin: 6px 0px 0px 10px;
	text-align: left;
	width: 130px;
}

#phalanx-check-label {
	font-size: 110%;
	font-weight: bold;
}

#phalanx-check-results li {
	border-bottom: 1px dashed #778899;
	font-size: 11px;
	margin-bottom: 0.1em;
	padding-bottom: 2px;
}

#phalanx-test-tab-content {
	display: none;
}

.phalanx-target {
	color: #3B7F07;
	font-size: 12px;
}

/* from Monaco's root.css */
/* originally called just "accent" */
.phalanx-accent {
	background-color: #d6e0f5;
	border-color: #36C;
	color: #000;
}

/* for proper alignment of "reason" box in IE/Monobook */
.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */
/* end from root.css */

/**
 * Styling for tabs (from wikia_ui.css)
 * @author Christian Williams <christian@wikia-inc.com>
 */
.phalanx-tabs {
	border-bottom: 1px solid #AAA;
}

.phalanx-tabs ul {
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0 3px;
	position: relative;
	top: 1px;
}

.phalanx-tabs li {
	border-color: #AAA;
	border-style: solid;
	border-width: 1px 1px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	float: left;
	list-style: none; 
	margin: 0 0 0 2px;
	padding: 2px 5px 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.phalanx-tabs a {
	color: #000;
}

.phalanx-tabs .selected {
	background-color: #FFF;
	color: #000;
	cursor: default;
	font-weight: bold;
	padding-bottom: 1px;
}