div.vectorMenu ul {
        border: solid 1px #884900;
}

#p-media li:not(.not-link):hover, #p-personal li:hover {
        background-color: #993300;
}

div.vectorTabs li.selected {
        background-color: #9B3000;
}

/* no longer :visited */
div#mw-panel div.portal div.body ul li a, #p-media a, #p-personal a,
div.vectorTabs li a, div.vectorMenu li a,
div#mw-panel div.portal div.body ul li a {
        color: #A3955B;
}

body, div#mw-panel {
        background-color: #D5C78D;
}
