/* Font-face for exotic fonts (different file formats are for different browsers) */
@font-face {
    font-family: 'SansaSoftProNormal';
    src: url('http://www.brickimedia.org/resources/fonts/sansasoftpro/sansasoftpro-normal-webfont.eot');
    src: url('http://www.brickimedia.org/resources/fonts/sansasoftpro/sansasoftpro-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.brickimedia.org/resources/fonts/sansasoftpro/sansasoftpro-normal-webfont.woff') format('woff'),
         url('http://www.brickimedia.org/resources/fonts/sansasoftpro/sansasoftpro-normal-webfont.ttf') format('truetype'),
         url('http://www.brickimedia.org/resources/fonts/sansasoftpro/sansasoftpro-normal-webfont.svg#SansaSoftProNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}