@font-face {
    font-family: 'SansaSoftProSemiBold';
    src: url('http://lego.cuusoo.com/apps/cuusoo/static/fonts/sansasoftpro-semibold-webfont.eot');
    src: url('http://lego.cuusoo.com/apps/cuusoo/static/fonts/sansasoftpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://lego.cuusoo.com/apps/cuusoo/static/fonts/sansasoftpro-semibold-webfont.woff') format('woff'),
         url('http://lego.cuusoo.com/apps/cuusoo/static/fonts/sansasoftpro-semibold-webfont.ttf') format('truetype'),
         url('http://lego.cuusoo.com/apps/cuusoo/static/fonts/sansasoftpro-semibold-webfont.svg#SansaSoftProSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}