body {
	/* @embed */
	background-image: url(../images/studs-tile-grey.png);
	background-repeat: repeat;
}
body, #expander {
	background-color: #adadad;
}

#p-personal li, #p-media li, div.vectorTabs li, div.vectorMenu, #p-search,
div#mw-panel div.portal div.body ul li, .vectorMenu li,
#p-search input[type=search]:focus, #p-search input[name=search]:focus {
	/*background-color: #FFA626;*/
	background-color: #fdfdfd !important;
	background-image: -moz-linear-gradient(top,  #fdfdfd 0%, #cfd2da 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#cfd2da));
	background-image: -webkit-linear-gradient(top,  #fdfdfd 0%,#cfd2da 100%);
	background-image: -o-linear-gradient(top,  #fdfdfd 0%,#cfd2da 100%);
	background-image: -ms-linear-gradient(top,  #fdfdfd 0%,#cfd2da 100%);
	background-image: linear-gradient(to bottom,  #fdfdfd 0%,#cfd2da 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cfd2da',GradientType=0 );
	/*-webkit-border-radius: 15px;*/
	border: 0px solid #91aacf;
}

div.vectorTabs li.selected {
	background-color: #FFFFFF;
}
div.vectorMenu ul {
	border: solid 1px #FFA626;
}

/* no longer :visited */
div#mw-panel div.portal div.body ul li a, #p-media a, #p-personal a,
div.vectorTabs li a, div.vectorMenu li a,
div#mw-panel div.portal div.body ul li a {
	color: #000000 !important;
}
