body, div#mw-panel {
	background-color: #89959E;
}

#p-personal li, #p-media li, div.vectorTabs li, div.vectorMenu, #p-search,
div#mw-panel div.portal div.body ul li, .vectorMenu li, #p-search-mobile,
#expander, .submenu a {
	background-color: #C7C7C7;
}

div.vectorTabs li.selected {
	background-color: #FFFFFF;
}
div.vectorMenu ul {
	border: solid 1px #C7C7C7;
}

/* no longer :visited */
div#mw-panel div.portal div.body ul li a, #p-media a, #p-personal a,
div.vectorTabs li a, div.vectorMenu li a,
div#mw-panel div.portal div.body ul li a {
	color: #555555;
}