@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

@font-face {
	font-family: 'Lato body';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	background-color: #D9DBF3;
	background-image: url("skins/refreshed/studs-tile-refreshed.png");
}

#header {
   background-color: #103ca2;
   background-image: -moz-linear-gradient(left,#040f28 0,#103ca2 50%,#040f28 100%);
   background-image: -webkit-gradient(linear,0% 0%,100% 0%,color-stop(0,#040f28),color-stop(50%,#103ca2),color-stop(100%,#040f28));
   background-image: -o-linear-gradient(left,#040f28 0,#103ca2 50%,#040f28 100%);
   background-image: -ms-linear-gradient(left,#040f28 0,#103ca2 50%,#040f28 100%);
   -webkit-font-smoothing: antialiased;
	width: 100%;
	height: 3em;
	z-index: 2;
	position: fixed;
}

.header-avatar {
	margin-left: 10px;
	margin-right: 7px;
}

#maintitle2 {
	margin-bottom: 5px;
	padding-right: 15px;
	text-align: right;
	padding-top: 10px;
	line-height: 1;
	font-size: 32pt;
	font-family: "Lato", sans-serif;
}

#maintitle {
	padding-top: 0.15em;
}
	#maintitle h1 {	
		font-size: 32pt;
		font-family: "Lato Body", sans-serif;
		padding-top: 0.2em;
		padding-left: 0.5em;
		margin-bottom: 0.3em;
	}

/* removes page title on socialprofile user pages */
.ns-2 #maintitle {
	display: none;
}

#contentwrapper {
	/*width: 64%;*/
	width: calc(100% - 24em);
	width: -webkit-calc(100% - 24em); /* safari */
	min-height: 100%;
	position: relative;
	margin-left: 12em;
	margin-right: 12em;
	top: 3em;
	background-color: white;
	z-index: -1;
	font-family: "Lato Body", sans-serif;
	/*border-left: 1px solid midnightblue;
	border-right: 1px solid midnightblue;*/
}
	#content {
		padding: 0em 1em 0.5em 1em;
		font-size: 1em;
	}

#leftbar {
	width: 12em;
	left: 0;
}
#rightbar {
	width: 12em;
	right: 0;
}
#leftbar, #rightbar {
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0); /*#D9DBF3;*/
	/*background-image: url("skins/refreshed/studs-tile-refreshed.png");*/
	top: 3em;
	color: white;
}
	#leftbar-top, #rightbar-top {
		position: absolute;
		top: 0;
	}
	#leftbar-bottom, #rightbar-bottom {
		position: absolute;
		bottom: 4em;
	}
	#leftbar-top {
		right: 0px;
	}
	#leftbar-bottom {
		right: 0px;
	}
	#rightbar-top {
		left: 0px;
	}
	#rightbar-bottom {
		left: 0px
	}
	#leftbar a, #rightbar a {
		display: block;
		color: white;
		text-decoration: none;
	}
	#leftbar a {
		padding: 0.15em 10px 0.15em 0;
		text-align: right;
		margin-right: 5px;
	}
	#rightbar a {
		text-align: left;
		margin-left: 5px;
	}
		#rightbar .main {
			padding: 0.15em 0 0.15em 10px;
			display: block;
			margin-top: 0.5em;
		}
		#rightbar .main:first-of-type {
			margin-top: 0em;
		}
		#rightbar .sub {
			padding: 0.15em 0 0.15em 20px;
		}
	#leftbar a:hover, #rightbar a:hover {
		color: #CCC;
		cursor: pointer;
	}
	#leftbar a:hover {
		border-right: 5px solid #CCC;
		margin-right: 0px;
	}
	#rightbar a:hover {
		border-left: 5px solid #CCC;
		margin-left: 0px;
	}
	
	#pagelinks a, #sitelinks a {
		text-transform: lowercase;
	}
	
	#pagelinks {
		padding-top: 1em;
	}

#siteactions {
	padding-top: 1em;
}
	
#refreshed-toc {
	position: relative;
}
	#refreshed-toc ul {
		margin: 0;
	}
	#refreshed-toc li {
		list-style-type: none;
	}
	.tocnumber {
		display: none;
	}
	#toc-box {
		width: 5px;
		background-color: white;
		height: 1.7em;
		position: absolute;
		right: 0;
	}
	.toclevel-2 > a {
		padding-right: 20px !important;
	}
	.toclevel-3 > a {
		padding-right: 30px !important;
	}
	.toclevel-4 > a {
		padding-right: 40px !important;
	}
	.toclevel-5 > a {
		padding-right: 50px !important;
	}

#userinfo {
	position: relative;
	float: left;
}
	#userinfo > a {
		padding: 0.5em;
		height: 2em;
		margin-left: 1em;
		text-decoration: none;
		width: 100%;
		display: table;
		text-align: right;
	}
	#userinfo > a:hover {
		background-color: midnightblue;
	}
	#userinfo > a span {
		font-size: 15pt;
		color: white !important;
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		padding-right: 10px;
	}
	/*#userinfo > a span:before {
		content: url(skins/refreshed/arrow.png);
	}*/
	#userinfo .arrow {
		transition:transform 0.5s;
		-webkit-transition:-webkit-transform 0.5s; /* Safari */
		transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg); /* Safari */
		vertical-align: text-bottom;
		
	}
	#userinfo .arrow.rotate {
		transform:rotateX(-180deg);
		-webkit-transform:rotateX(-180deg); /* Safari */
	}
	
	
.headermenu {
	padding: 0 0.2em 0.2em 0.2em;
	margin: 0;
}	
#userinfo .headermenu {
	background-color: rgba(25, 25, 112, 0.8);
}	
#siteinfo .headermenu {
	background-color: rgba(0, 0, 0, 0.8);
}
	.headermenu a {
		font-size: 15pt;
		text-decoration: none;
		display: block;
		color: white;
		padding: 0.2em 0.4em 0.2em 0.4em;
	}
	.headermenu a:hover {
		opacity: 1;
		background-color: midnightblue;
		text-decoration: none;
	}
	#userinfo .headermenu {
		left: 1em;
		width: 10.6em;
		position: absolute;
	}
		#userinfo .headermenu a {
			padding-right: 0.7em !important;
			text-align: right;
		}
	#siteinfo .headermenu {
		margin: auto;
		width: 200px;
	}
		/*#siteinfo .headermenu img {
			margin
		}*/
#siteinfo {
}
	#siteinfo > a {
		height: 2em;
		display: block;
		margin: auto;
		width: 11em;
		padding: 0.5em 1em 0.5em 1em;
	}
		#siteinfo > a:hover {
			background-color: #222;
		}
		#siteinfo > a > img {
			display: inline-block;
		}
		#siteinfo > a > span {
			font-size: 15pt;
			color: white;
		}
	#siteinfo a {
		text-align: center;
	}
	#siteinfo .arrow {
		transition:transform .5s;
		-webkit-transition:-webkit-transform .5s; /* Safari */
		transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg); /* Safari */
		vertical-align: middle;
		margin-left: 1em;
		display: inline-block;
	}
	#siteinfo .arrow.rotate {
		transform:rotateZ(180deg);
		-webkit-transform:rotateZ(180deg); /* Safari */
	}
	

#search {
	width: 11em;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
}
	#search input {
		float: right;
		border: none;
		font-size: 12pt;
		padding: 0.25em;
		font-family: Lato, sans-serif;
		width: 11em;
	}
	
#refreshed-toc #toc-box:last-child {
	display: none;
}

#preftoc li {
	display: inline;
}

#preftoc li:before {
	content: " - ";
}

#preftoc li:first-child:before {
	content: none !important;
}

#footer {
	position: relative;
	top: 4em;
	margin-left: 14em;
	margin-right: 14em;
	text-align: center;
}
	#footer a {
		color: white;
	}
	#footer * {
		line-height: 1.5
	}
	#footer img {
		vertical-align: text-top;
	}

/******************************** CONTENT ******************************/

h3,
h4,
h5,
h6 {
	font-weight: normal !important;
}

