@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
}

#header {
	background-color: midnightblue;
	width: 100%;
	height: 3em;
	z-index: 2;
	position: fixed;
}

#maintitle2 {
	margin-bottom: 5px;
	padding-right: 15px;
	text-align: right;
	padding-top: 10px;
	line-height: 1;
	font-size: 32pt;
	font-family: "Lato", sans-serif;
}

#contentwrapper {
	/*width: 64%;*/
	width: calc(100% - 28em);
	position: absolute;
	margin-left: 17em;
	margin-right: 11em;
	top: 3em;
}
	#content {
		padding: 1em 1em 0 1em;
		font-size: 1em;
	}
	#content h2 {
		/*font-family: "Lato", sans-serif;*/
	}

#leftbar {
	width: 17em;
	left: 0;
	border-right: 1px solid midnightblue;
}
#rightbar {
	width: 11em;
	right: 0;
	border-left: 1px solid midnightblue;
}
#leftbar, #rightbar {
	height: 100%;
	position: fixed;
	background-color: lavender;
	top: 3em;
}
	#leftbar-top, #rightbar-top {
		position: absolute;
		top: 0;
	}
	#leftbar-bottom, #rightbar-bottom {
		position: absolute;
		bottom: 4em;
	}
	#leftbar-top {
		right: 0;
	}
	#leftbar-bottom {
		right: 0
	}
	#rightbar-top {
		left: 0;
	}
	#rightbar-bottom {
		left: 0
	}
	#leftbar a, #rightbar a {
		display: block;
		color: #000;
		text-decoration: none;
	}
	#leftbar a {
		padding: 0.15em 10px 0.15em 0;
		text-align: right;
		margin-right: 5px;
	}
	#rightbar a {
		padding: 0.2em 0 0.2em 10px;
		text-align: left;
		margin-left: 5px;
	}
	#leftbar a:hover, #rightbar a:hover {
		color: midnightblue;
		cursor: pointer;
	}
	#leftbar a:hover {
		border-right: 5px solid midnightblue;
		margin-right: 0px;
	}
	#rightbar a:hover {
		border-left: 5px solid midnightblue;
		margin-left: 0px;
	}
	
	#pagelinks a, #sitelinks a {
		text-transform: lowercase;
	}

#siteactions {
	padding-top: 10px;
}
	
#refreshed-toc {
	position: relative;
}
	#refreshed-toc ul {
		margin: 0;
	}
	#refreshed-toc li {
		list-style-type: none;
	}
	.tocnumber {
		display: none;
	}
	#toc-box {
		width: 5px;
		background-color: midnightblue;
		height: 1.7em;
		position: absolute;
		right: 0;
	}
	.toclevel-2 > a {
		padding-right: 20px !important;
	}
	.toclevel-3 > a {
		padding-right: 30px !important;
	}
	.toclevel-4 > a {
		padding-right: 40px !important;
	}
	.toclevel-5 > a {
		padding-right: 50px !important;
	}

#userinfo {
	width: 17em;
	position: relative;
	float: left;
}
	#userinfo > a {
		padding: 0.5em;
		height: 2em;
		margin-left: 2em;
		text-decoration: none;
		width: 14em;
		display: table;
	}
	#userinfo > a:hover {
		background-color: darkslateblue;
	}
	#userinfo > a span {
		font-size: 15pt;
		color: white;
		display: table-cell;
		vertical-align: middle;
	}
	
.headermenu {
	background-color: rgba(25, 25, 112, 0.8);
	padding: 0 0.2em 0.2em 0.2em;
	margin: 0;
}
	.headermenu a {
		font-size: 15pt;
		text-decoration: none;
		display: block;
		color: white;
		padding: 0.2em 0.4em 0.2em 0.4em;
		text-align: center;
	}
	.headermenu a:hover {
		opacity: 1;
		background-color: midnightblue;
		text-decoration: none;
	}
	#userinfo .headermenu {
		left: 2em;
		width: 14.6em;
		position: absolute;
	}
	#siteinfo .headermenu {
		margin: auto;
		width: 200px;
	}
		#siteinfo .headermenu img {
			margin
		}
	
#siteinfo {
}
	#siteinfo > a {
		height: 2em;
		display: block;
		margin: auto;
		width: 9em;
		padding: 0.5em 1em 0.5em 1em;
	}
	#siteinfo > a:hover {
		background-color: darkslateblue;
	}

#search {
	width: 11em;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
}
	#search input {
		float: right;
		border: none;
		font-size: 12pt;
		padding: 0.25em;
		font-family: Lato, sans-serif;
		width: 10em;
	}
	
#refreshed-toc #toc-box:last-child {
	display: none;
}