/* anything between 601px and 900px - tablets, big phones in landscape, very small laptops */

#leftbar {
	left: 0 !important;
}
#rightbar {
	width: 12em;
	right: -12em;
	background-color: rgba(25, 25, 112, 0.8);
}
#contentwrapper {
	margin-left: 12em;
	margin-right: 1em;
}
#footer {
	margin-left: 14em;
	margin-right: 2em;
}
#leftbar .shower {
	display: none;
}
#siteinfo .headermenu,
#siteinfo > a {
	margin-left: calc(50% - 1em);
	margin-left: -webkit-calc(50% - 1em);
}
