/* anything 600px and under - phones */

#leftbar {
	left: -12em;
	background-color: rgba(25, 25, 112, 0.8);
}
#rightbar {
	right: -12em;
	background-color: rgba(25, 25, 112, 0.8);
}

#userinfo > a {
	max-width: 11em;
}	
	#userinfo > a span {
		max-width: 4.2em;
	}